.login-container {
  width: 500px;
  margin: 200px auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  background: white;
}

input, select {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #fb9535;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #9cd851;
}

body {
  background-color: #f5f5f5;
}


.login-container h1 {
  margin-bottom: 5px;
}

.login-container p {
  font-size: 14px;
  color: #666;
}

h2 {
  margin: 10px 0;
}

select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}